body {
    background-color: #d2e2f2;
    background-image: url('/kuvat/taustakuva.jpg'); /* Korjattu kirjoitusasu */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    font-family: Roboto, sans-serif;
}

h1 {
    color: #333;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}
