body {
    background-color: #d2e2f2;
    baground-image:url('/kuvat/taustakuva.jpg');
    background-size: cover; /* Peittää koko näkymän */
    background-position: center; /* Kohdistaa kuvan keskelle */
    background-repeat: no-repeat; /* Estää kuvan toiston */
    font-family: Roboto, sans-serif;
}

h1 {
    color: #333;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}
