/* Yleiset tyylit */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('kuvat/TERAS.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; /* Kiinteä tausta */
    font-family: Poppins, sans-serif;
    min-height: 100%; /* Varmistaa taustakuvan peittävyyden */
    color: white; /* Teksti valkoiseksi */
    overflow-x: hidden; /* Estää vaakaskrollauksen */
    border: 3px solid #ffffff; /* Sähkönsininen kehys */
    box-shadow: 0 0 0px 10px rgb(5 7 170); /* Valkoinen varjo */
}
li a img {
    width: 100px; /* Kuvan leveys */
    height: auto; /* Säilyttää kuvasuhteen */
    border-radius: 10px; /* Pyöristetyt kulmat (valinnainen) */
}

/* Otsikko */
h1, h2 {
    width: 100%; /* Koko näytön leveys */
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Varjostus */
    margin: 10px 0;
    padding: 10px 10px;
    background-color: rgb(0 25 255 / 50%); /* Sähkönsininen tausta läpinäkyvyydellä */
    border-radius: 20px; /* Hieman pyöristetyt reunat */
    border: 5px solid rgba (128, 128, 128, 0.5);
}

/* Luetteloiden tyylit */
ul {
    list-style-type: none; /* Poistaa luettelomerkit */
    padding: 0;
    margin: 0 0 20px;
    display: flex; /* Asetetaan flexboxiksi */
    flex-direction: column; /* Järjestetään pystysuoraan */
    align-items: center; /* Keskitetään sisältö */
}

ul li {
    margin-bottom: 10px; /* Väli linkkien välillä */
}

ul li ul {
    margin-top: 10px; /* Väli yläotsikon ja listan välillä */
    padding-left: 20px; /* Siirretään alaluetteloa hieman */
}

/* Linkkien tyylit */
a {
    display: inline-block; /* Painikkeen tyyli */
    background-color: /* Sähkönsininen tausta */
    color: white; /* Valkoinen teksti */
    padding: 10px 20px;
    text-decoration: ;
    border-radius: 5px;
    box-shadow: inset 0 0 px rgb(200 199 6 / 80%); /* Sisäpuolen valkoinen hohde */
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

/* Hover-efekti */
a:hover {
    background-color: #ccba00bd;
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

/* Media Queries - responsiivisuus */
@media (max-width: 768px) {
    h1, h2 {
        font-size: 1.5em; /* Pienennetään otsikoita mobiililla */
    }

    a {
        width: 100%; /* Linkit täyttävät leveyden mobiililla */
        text-align: center;
    }
}
