/* Yleiset tyylit */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('kuvat/TERAS.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; /* Kiinteä tausta skrollauksen mukana */
    font-family: Poppins, sans-serif;
    min-height: 100vh; /* Varmistaa taustakuvan peittävyyden */
    color: white; /* Teksti valkoiseksi */
    overflow-x: hidden; /* Estää vaakaskrollauksen */
    border: 2px solid #0404B4; /* Sähkönsininen kehys */
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.8); /* Valkoinen varjo */
}

/* Otsikko */
h1, h2 {
    width: 100%; /* Koko näytön leveys */
    text-align: center;
    text-shadow: 4px 4px 8px rgb(9 30 2); /* Varjostus */
    margin: 0;
    padding: 10px 0;
    border-bottom: 3px solid rgba(255, 255, 255, 0.8); /* Korjattu läpinäkyvyys */
    border-radius: 50px; /* Hieman pyöristetyt reunat */
}

/* Luetteloiden tyylit */
ul {
    list-style-type: none; /* Poistaa luettelomerkit */
    padding: 0;
    margin: 50px 0;
}

.poptori-button {
    width: 50px; /* Leveys */
    height: auto; /* Mittasuhteiden säilyttäminen */
    border-radius: 50px; /* Pyöristetyt kulmat */
    margin: 10px;
    cursor: pointer;
    background-color: white; /* Valkoinen tausta */
    padding: 10px; /* Sisäiset marginaalit kuvan ympärille */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Kevyt varjo */
    transition: box-shadow 0.3s, transform 0.3s;
}

.poptori-button:hover {
    box-shadow: 0 0 15px 5px rgba(255, 215, 0, 0.8); /* Hehku hover-tilassa */
    transform: scale(1.1); /* Suurentaa hieman hover-tilassa */
}

ul li {
    margin-bottom: 8px; /* Väli luettelokohtien välillä */
}

/* Linkkien tyylit */
a {
    display: inline-block; /* Muuttaa linkit painikkeen muotoon */
    text-align: center; /* Keskittää sisällön linkissä */
    background-color: #003366; /* Esimerkki taustaväri */
    color: white; /* Teksti valkoiseksi */
    padding: 10px 20px; /* Sisätilaa */
    text-decoration: none; /* Poi
